@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
:root {
  --background: red;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  background-color: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 10000;
}

nav {
  position: relative;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out 0.4s;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
a.active{
  color: black;
  text-decoration: underline;
}
nav ul li a:hover {
  color: black;
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  transition: transform 0.5s ease-in-out;
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.3s;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before, .nav-toggle-label span::after {
  position: absolute;
  content: "";
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
  display: flex;
}
@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  header nav {
    all: unset;
    grid-column: 1/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    margin-bottom: 0;
    margin-left: 3em;
  }
  header nav ul li a {
    opacity: 1;
    position: relative;
    font-weight: bold;
  }
  header nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 0.2s ease-out;
    transform-origin: left;
  }
  header nav ul li a:hover::before {
    transform: scale(1, 1);
  }
}

/* page */
.title{
    text-align: center;
}

.span{
    color: red;
}

.title_2{
    font-weight: bold;
    color: red;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.contain {
  width: 98%;
  background-color: #ddd;
  padding: 4px;
  margin: 20px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.Python {width: 90%; background-color: red;}
.Info {width: 90%; background-color: red;}
.Office {width: 85%; background-color: red;}
.A {width: 80%; background-color: red;}
.Anglais {width: 80%; background-color: red;}
.HTML {width: 75%; background-color: red;}
.SQL {width: 60%; background-color: red;}
.EO {width: 60%; background-color: red;}
.css {width: 50%; background-color: red;}
.jap {width: 40%; background-color: red;}
.js {width: 10%; background-color: red;}
.c {width: 10%; background-color: red;}
 
.card-header {
  text-align: center;
  padding: 30px 60px 0;
}
.card-header h2 {
  padding-bottom: 10px;
}
.card-header h3 {
  font-size: 1.5em;
  color: #999;
}
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
  }
  
  .card-wrapper {
    width: 300px;
    padding: 50px;
    text-align: center;
    margin: 20px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #f9f9f9;
  }
  
  .card-text .fa {
    font-size: 3em;
    color: #777;
    margin-bottom: 10px;
    justify-content: center;
  }
  .card-text h3 {
    font-size: 1.5em;
    text-transform: capitalize;
  }
  .card-text p {
    margin: 10px 0 40px;
    justify-content: center;
  }

  .card-text h6 {
    margin: 10px 0 40px;
    justify-content: center;
    margin-left: -20px;
  }
  
  .card-button {
    padding: 10px;;
    border: 1px solid #ccc;
    text-align: center;
  }
  .card-button a {
    text-decoration: none;
  }

/* button for page php */
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  padding-left: 50%;
}

.btn-5 {
  width: 300px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.textarea {
  width: 320px;
  height: 100px;
  line-height: 150%;
  resize:vertical;
  background: #141e30;
}

label span{
color: white;
}